/* For desktop: */
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  color: white;
  background-color: #2c3338;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
}
.container {
  position: relative;
}
/*! Menu */
.header {
  display: flex;
  align-items: center;
  font-size: 22px;
}
.head-nav {
  background-color: white;
  padding: 18px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 5px 5px #ff8380;
  z-index: 10;
}
.menu {
  text-align: center;
}
.head-nav a {
  text-decoration: none;
  cursor: pointer;
  color: #12374c;
}
.menu li {
  color: #f1f1f1;
  display: inline-block;
  height: 40px;
  width: 100px;
  line-height: 40px;
  margin-left: -5px;
  text-align: center;
}
.menu a {
  text-decoration: none;
  color: #777777;
  display: block;
}
.menu a:hover {
  background: #2c3338;
  color: white;
  border-radius: 8px;
}
.avatar {
  display: flex;
  text-align: center;
}
.avatar ul {
  float: right;
}
.avatar li {
  display: inline-block;
  text-align: center;
}
#small {
  position: absolute;
  top: 20px;
  background-color: #f5dcd2;
  padding: 2px;
  border-radius: 8px;
}
.avatar input {
  width: 80px;
  border: none;
  transition: 0.3s;
  outline: none;
}
#search:focus {
  width: 150px;
  border-bottom: 2px solid #2c3338;
}
.avatar button {
  border: none;
}
.avatar button:hover {
  cursor: pointer;
}
.custom-btn {
  color: #fff;
  border-radius: 8px;
  padding: 6px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px #ffb0af, 7px 7px 20px 0px rgba(0, 0, 0, 0.1),
    4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}
#login-button {
  width: 55px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  margin-left: 15px;
  border: none;
  border-radius: 8px;
  background: #ff8380;
  background: linear-gradient(0deg, #ff8380 0%, rgba(251, 75, 2, 1) 100%);
  transition: 1s;
}
#login-button:hover {
  color: #f0094a;
  background: #ff8380;
  box-shadow: none;
}
#shop {
    display: flex;
    align-items: center;
}
#shop span {
  color: #ff8380;
  filter: drop-shadow(2px 2px 1px #ff8380);
}
#shop a {
    filter: drop-shadow(2px 2px 1px #12374c);
}
#shop img {
    width: 50px;
}
#cart-menu {
  visibility:hidden;
  position: absolute;
  color: white;
  background-color: #ff8380;
  border-radius: 8px;
  width: 30%;
  z-index: 10;
  top: 250;
  right: 50px;
  align-items: center;
}
.menu-left {
  width: 100%;
}
.iconMess {
  font-size: 40px !important;
  padding: 2px !important;
  color: #ff8380;
  border: 1px solid white;
  border-radius: 18px;
}
.iconMess:hover {
  filter: drop-shadow(4px 4px 2px white) !important;
  cursor: pointer;
}
#phoneInfo {
  position: fixed;
  bottom: 60px;
  right: 60px;
  z-index: 10;
  display: flex;
  align-items: center;
}
#phoneNumber {
  background-color: #ff8380;
  padding: 5px;
  border-radius: 12px;
  display: none;
  font-size: 25px;
}

/*? Slideshow */
.slide {
  position: relative;
  text-align: center;
  align-items: center;
  margin-top: 120px;
}
#slideShow {
  width: 80%;
  border: 1px solid white;
  border-radius: 8px;
  margin: 0 auto;
}
#slideShow img {
  max-width: 100%;
  border-radius: 8px;
}
/*? Footer */
.footer {
  position: relative;
  display: flex;
  margin-top: 80px;
  padding: 10px;
}
.info-footer p {
  padding: 5px;
}
.info-footer h3 {
  font-size: 30px;
}
.info-footer h3 span {
  color: #ff8380;
}
.info-footer img {
  max-width: 60%;
}
.footer-link {
  text-align: center;
}
.footer-link a {
  text-decoration: none;
  color: white;
  padding: 10px;
  font-size: 25px;
}
.footer-link a:hover {
  opacity: 0.6;
  filter: drop-shadow(4px 4px 1px #ff8380);
  transition: all 0.4s;
}
.footer-link h3 {
  font-size: 30px;
  color: #ff8380;
}
.footer-link ul li {
  list-style: none;
  margin-top: 10px;
}
.footer-social {
  text-align: center;
}
.footer-social h3 {
  font-size: 30px;
  color: #ff8380;
}
.footer-social ul li {
  list-style: none;
}
.fa {
  padding: 10px;
  font-size: 28px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa:hover {
  opacity: 0.6;
  filter: drop-shadow(4px 4px 2px #ff8380);
  transition: all 0.5s;
}
.fa-facebook {
  background: #3B5998;
  color: white;
  border-radius: 50%;
}
.fa-instagram {
  background: #125688;
  color: white;
  border-radius: 50%;
}
.fa-youtube {
  background: #bb0000;
  color: white;
  border-radius: 50%;
}
.socialLink {
  display: flex;
}
.soccialLink ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.copyright span{
  color: #ff8380;
}
.copyright {
  text-align: center;
  margin-bottom: 10px;
}

/*! Product */
.product {
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  font-size: 20px;
}
.product img {
  max-width: 100%;
  height: 300px;
  transition: 0.8s;
  border-radius: 8px;
}
.product input {
  width: 50px;
  padding: 5px;
}
.add-cart {
  margin-right: 10px;
  color: #ff8380;
  cursor: pointer;
}
.fa-heart,.fa-cart-shopping {
  font-size: 30px;
  margin-left: 10px;
}
.actions {
  margin-top: 5px;
  justify-content: center;
  display: flex;
}
.showProduct {
  display: flex;
  flex-wrap: wrap;
}
.product img:hover {
  cursor: pointer;
  padding: 30px;
  filter: drop-shadow(6px 6px 3px #ff8380);
  opacity: 0.5;
}

/*! Show Details */
#fullSrceen {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 1000;
  color: white;
  background-color: rgb(0, 0, 0, 0.4);
  display: none;
}
#productDetail {
  position: absolute;
  top: 32%;
  left: 38%;
  background-color:#12374c;
  border-radius: 8px;
  text-align: center;
  font-size: 20px;
}
#productDetail img {
  max-width: 450px;
  padding: 5px;
  border-radius: 8px;
}
#closeBtn {
  color: white;
  width: 50px;
  opacity: 0.8;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  border-radius: 8px;
  padding: 5px;
  transition: 1s;
  background: linear-gradient(90deg, var(--c1, #f6d365), var(--c2, #fda085) 51%, var(--c1, #f6d365)) var(--x, 0)/ 200%;
}
#closeBtn:hover {
  cursor: pointer;
  --x: 100%;
}

@media only screen and (max-width: 600px) {
  .footer {
    font-size: 12px;
  }
  .menu {
    display: none;
  }
  .avatar {
    width: 80%;
  }
  #shop {
    width: 20%;
    margin-right: 55px;
    font-size: 15px;
  }
  #login-button {
    font-size: 10px;
    width: 35px;
  }
  .footer-link a {
    font-size: 18px;
  }
  .footer-link h3 {
    font-size: 20px;
    padding-top: 5px;
  }
  .footer-social h3 {
    font-size: 20px;
    padding-top: 5px;
  }
  .soccialLink ul {
    flex-direction: column;
    gap: 5px;
  }
  .product {
    width: 100%;
    border: 1px solid red;
  }
  #phoneInfo {
    position: fixed;
    bottom: 60px;
    right: 5px;
    z-index: 10;
    display: flex;
    align-items: center;
  }
}